{% extends "base.html" %}
{% block landscape_active %}active{% endblock %}

{% block main_content %}
<div class="container-fluid" style="margin-bottom:10px;"><div class="row"><div class="col-md-12">
<ul class="nav nav-pills">
    <li role="presentation" class="{% block overview_active %}{% endblock %}"><a href="{{ url_for('landscape') }}">全局</a></li>
    <li role="presentation" class="{% block newhigh_active %}{% endblock %}"><a href="{{ url_for('newhigh') }}">新高</a></li>
</ul>
</div></div></div>
{% block landscape_content %}
{% endblock %}
{% endblock %}
