{% extends "base.html" %}
{% block main_content %}
<div class="container-fluid"><div class="row"><div class="col-md-5">
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">登录</h3>
    </div>
    <div class="panel-body">
        <div class="alert alert-danger {{ error_show }}" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          {{ error_msg }}
        </div>
        <form method="POST" action="">
          <div class="form-group">
            <label for="username">用户名 *</label>
            <input type="text" class="form-control" name="username" id="username" placeholder="">
            <label for="password">密码 *</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="">
          </div>
        </form>
    </div>
</div>
</div></div></div>
{% endblock %}