{% extends "base.html" %}
{% block program_active %}active{% endblock %}
{% block main_content %}
<div class="container-fluid"><div class="row"><div class="col-md-10">
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{{ prog.name }}</h3>
    </div>
    <div class="panel-body">
        {{ prog.desc }}
        <div id="trade_tables">
        </div>
        <script type="text/javascript">
        $.get("{{ url_for('trade_list', pid=prog.oid) }}", function(result){
            $('#trade_tables').html(result);
        });
        </script>
    </div>
</div>
</div>
<div class="col-md-2"></div>
</div></div>
{% endblock main_content %}