<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>OpenTrader Tixis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Li Qian">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/static/css/bootstrap-switch.min.css" />
    <script src="/static/js/jquery-2.1.3.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap-switch.min.js"></script>
</head>
<body>
    <div class="alert alert-success" role="alert" style="display: none">Register Successfully</div>
    <div class="alert alert-warning" role="alert" style="display: none">Warning</div>  <!-- Better replace Warning with specific messages-->
    <div class="alert alert-danger" role="alert" style="display: none">Error!</div>    <!-- Same as above-->
    <div class="container-fluid"><div class="row"><div class="col-md-offset-4 col-md-4">
	<div class="panel panel-primary">
	    <div class="panel-heading">
		<h3 class="panel-title">注册</h3>
	    </div>
	    <div class="panel-body">
		<form method="POST" action="">
		    <div class="form-group">
			<label for="username">用户名*</label>
			<input type="text"  class="form-control" id="username" placeholder="">
		    </div>
		    <div class="form-group">
			<label for="password">密码*</label>
			<input type="password" class="form-control" id="password" placeholder="">
		    </div>
		    <div class="form-group">
			<label for="password-confirmation">确认密码*</label>
			<input type="password" class="form-control" id="password-confirmation" placeholder="">
		    </div>
		    <center>
			<button type="submit" class="btn btn-primary" id="submit">提交</button>
		    </center>
		</form>
	    </div>
	</div>
    </div></div></div>
    <script>
    	$("#submit").on("click", function(){
    		var username = $("#username").val();
    		var password = $("#password").val();
    		var new_password = $("#password-confirmation").val();
    		if ( username === 0 || password === 0 || new_password === 0){
    			$(".alert-danger").html("Register failed, fields shouldn't be empty");
    		} if ( password != new_password) {
    			$(".alert-warning").html("Passwords are different");
    		} else{
    			var data = JSON.stringify({
    				"username": username,
    				"password": password
    			});
    			
    			$.ajax({
    				type: "POST",
    				url: "",   //Unknown yet
    				contentType: "application/json",
    				data: data,
    				dataType: "json",
    				success:  //To be edited
    			});
    		}
    	})
    </script>
</body>
